@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
  --color-accent: #a78bfa;
  --color-surface: #18181b;
  --color-surface-light: #f8fafc;
  --color-card: #27272a;
  --color-card-light: #ffffff;
  --color-border: #3f3f46;
  --color-border-light: #e2e8f0;
  --color-muted: #a1a1aa;
  --color-muted-light: #64748b;
}
